In [4]:
import pandas as pd
import numpy as np

In [35]:
data=pd.read_excel("timeline housing price Amsterdam.xlsx")

In [36]:
# get header columns
header = data.columns.values
header

array(['Subject',
       'Price index existing owner-occupied homes|Price index selling prices',
       'Price index existing owner-occupied homes|Price index selling prices_1',
       'Price index existing owner-occupied homes|Development compared to a year earlier',
       'Price index existing owner-occupied homes|Development compared to a year earlier_2',
       'Sold existing owner-occupied homes|Sold homes',
       'Sold existing owner-occupied homes|Sold homes_3',
       'Sold existing owner-occupied homes|Development compared to previous period',
       'Sold existing owner-occupied homes|Development compared to previous period_4',
       'Sold existing owner-occupied homes|Development compared to a year earlier',
       'Sold existing owner-occupied homes|Development compared to a year earlier_5',
       'Average selling price', 'Average selling price_6'], dtype=object)

In [37]:
# get header columns from 2nd row
header2 = data.iloc[0,0:].values
header2

array(['Area', 'Netherland', 'Amsterdam', 'Netherland', 'Amsterdam',
       'Netherland', 'Amsterdam', 'Netherland', 'Amsterdam', 'Netherland',
       'Amsterdam', 'Netherland', 'Amsterdam'], dtype=object)

In [38]:
header3 = data.iloc[1,0:].values
header3

array(['Period', '2015=100', '2015=100', '%', '%', 'amount', 'amount',
       '%', '%', '%', '%', 'euro', 'euro'], dtype=object)

In [39]:
# new header for column 1 is the combination of header 1 header2 and header3
new_header = np.concatenate((header[0:1],header2[1:],header3[1:]),axis=0)
new_header

array(['Subject', 'Netherland', 'Amsterdam', 'Netherland', 'Amsterdam',
       'Netherland', 'Amsterdam', 'Netherland', 'Amsterdam', 'Netherland',
       'Amsterdam', 'Netherland', 'Amsterdam', '2015=100', '2015=100',
       '%', '%', 'amount', 'amount', '%', '%', '%', '%', 'euro', 'euro'],
      dtype=object)

In [15]:
data

,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Area,Netherland,Amsterdam,Netherland,Amsterdam,Netherland,Amsterdam,Netherland,Amsterdam,Netherland,Amsterdam,Netherland,Amsterdam
1,Period,2015=100,2015=100,%,%,amount,amount,%,%,%,%,euro,euro
2,1995 1st quarter,"41,4","28,8",NaN,NaN,30734,625,NaN,NaN,NaN,NaN,89792,95052
3,1995 2nd quarter,"41,9","28,7",NaN,NaN,37054,654,"20,6","4,6",NaN,NaN,92094,98045
4,1995 3rd quarter,"43,1","29,5",NaN,NaN,40498,763,"9,3","16,7",NaN,NaN,95819,94401
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,2020 2nd quarter,"140,2","162,4","7,5","5,3",54923,2194,"6,5","-4,8","4,6","-7,4",327867,495498
104,2020 3rd quarter,"143,5","163,7","8,1","5,5",62206,2865,"13,3","30,6","5,6","6,9",339559,516930
105,2020 4th quarter,"146,4","161,8","8,8","3,5",66803,3098,"7,4","8,1","11,9","16,7",341892,513031
106,2021 1st quarter,"151,7","168,1","10,3","6,0",66627,4029,"-0,3","30,1","29,2","74,8",379172,546838
107,2021 2nd quarter,"158,4","174,5","13,0","7,5",52787,2215,"-20,8","-45,0","-3,9","1,0",365702,541324

In [17]:
nan_rows = data[data['district'].isnull()]
print(nan_rows.shape[0])

data[data['district'].isnull()].head(5)

447

,postalcode,street,lat,lng,price,area,volume,floors,year_build,has_garden,...,postcode,district,suburb,city,state,country,country_code,attribution,attribution_license,attribution_url
13,1011 MK Amsterdam,Rapenburgerstraat,52.3710,4.9041,60000,0,0,1,0,0,...,1011KV,NaN,Centrum,Amsterdam,North Holland,Netherlands,nl,© OpenStreetMap contributors,Open Database License,https://www.openstreetmap.org/copyright
14,1011 KN Amsterdam,'s-Gravelandse Veer 10 SOUS,52.3710,4.9041,450000,77,308,5,1850,0,...,1011KV,NaN,Centrum,Amsterdam,North Holland,Netherlands,nl,© OpenStreetMap contributors,Open Database License,https://www.openstreetmap.org/copyright
20,1058 GD Amsterdam,Andreasplein 34,52.3579,4.8510,650000,115,364,1,2010,1,...,1058,NaN,NaN,Amsterdam,North Holland,Netherlands,nl,© OpenStreetMap contributors,Open Database License,https://www.openstreetmap.org/copyright
24,1064 CK Amsterdam,Burgemeester Hogguerstraat 15,52.3742,4.8218,47500,0,0,1,0,0,...,1064DB,NaN,Nieuw-West,Amsterdam,North Holland,Netherlands,nl,© OpenStreetMap contributors,Open Database License,https://www.openstreetmap.org/copyright
36,1011 GW Amsterdam,Krom Boomssloot 20 -2,52.3710,4.9041,1150000,225,603,2,1636,0,...,1011KV,NaN,Centrum,Amsterdam,North Holland,Netherlands,nl,© OpenStreetMap contributors,Open Database License,https://www.openstreetmap.org/copyright

In [11]:
# change the nan values in district column to the suburb name
data['district'] = data['district'].fillna(data['suburb'])

In [13]:
nan_rows = data[data['district'].isnull()]
print(nan_rows.shape[0])

60

In [14]:
data["district"].unique()

array(['Centrum', 'Zuid', 'Nieuw-West', 'Zuidoost', 'West', nan, 'Noord',
       'Oost', 'Eastern Docklands', 'De Aker', 'Gein'], dtype=object)

In [7]:
# get average price per district divided by 1000
data.groupby('district')['price'].mean()/1000

district
Centrum       1051.175922
Nieuw-West     273.128559
Noord          329.962326
Oost           416.464906
West           420.906830
Zuid           896.123686
Zuidoost       194.724868
Name: price, dtype: float64

In [20]:
data = pd.read_excel("../Dataset/amsterdamNew.xlsx")

In [21]:
data

,postalcode,street,lat,lng,price,area,volume,floors,year_build,has_garden,...,formatted,name,housenumber,street.1,postcode,district,suburb,city,state,country
0,1015 AK Amsterdam,Langestraat 31,52.3784,4.8836,895000,164,450,4,1700,0,...,"Westerstraat 105-1, 1015 LX Amsterdam, Netherl...",NaN,105-1,Westerstraat,1015LX,Centrum,Centrum,Amsterdam,North Holland,Netherlands
1,1018 LZ Amsterdam,Kleine Wittenburgerstraat 124,52.3676,4.9184,275000,56,189,1,1981,0,...,"Entrepotdoksluis 4, 1018 AW Amsterdam, Netherl...",NaN,4,Entrepotdoksluis,1018AW,Centrum,Centrum,Amsterdam,North Holland,Netherlands
2,1073 TB Amsterdam,Karel du Jardinstraat 53 HS+PP,52.3532,4.8982,550000,83,328,1,2000,1,...,"Van Ostadestraat 209K, 1073 TN Amsterdam, Neth...",NaN,209K,Van Ostadestraat,1073TN,Zuid,Zuid,Amsterdam,North Holland,Netherlands
3,1073 XA Amsterdam,Gerard Doustraat 190 III,52.3532,4.8982,375000,69,222,1,1880,0,...,"Van Ostadestraat 209K, 1073 TN Amsterdam, Neth...",NaN,209K,Van Ostadestraat,1073TN,Zuid,Zuid,Amsterdam,North Holland,Netherlands
4,1067 MT Amsterdam,Jan van Duivenvoordestraat 137,52.3786,4.7987,249000,97,295,1,2002,0,...,"StrackÃ©straat 8, 1067 KR Amsterdam, Netherlands",NaN,8,StrackÃ©straat,1067KR,Nieuw-West,Geuzenveld,Amsterdam,North Holland,Netherlands
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2190,1067 TN Amsterdam,Jacob de Rijkhof 16,52.3786,4.7987,315000,110,363,3,1986,1,...,"StrackÃ©straat 8, 1067 KR Amsterdam, Netherlands",NaN,8,StrackÃ©straat,1067KR,Nieuw-West,Geuzenveld,Amsterdam,North Holland,Netherlands
2191,1106 DM Amsterdam,Wamelstraat 69,52.2991,4.9754,143000,58,189,1,1982,1,...,"Pannerdenstraat, 1106 BG Amsterdam, Netherlands",Pannerdenstraat,NaN,Pannerdenstraat,1106BG,NaN,Zuidoost,Amsterdam,North Holland,Netherlands
2192,1082 TL Amsterdam,Frieslandstraat 53,52.3311,4.8742,269000,73,238,1,1965,0,...,"Doddendaal 197, 1082 XT Amsterdam, Netherlands",NaN,197,Doddendaal,1082XT,Zuid,Buitenveldert,Amsterdam,North Holland,Netherlands
2193,1087 NC Amsterdam,Nico Jessekade 241,52.3539,5.0005,385000,107,317,1,2001,0,...,"Maria Austriastraat 987, 1087 JB Amsterdam, Ne...",NaN,987,Maria Austriastraat,1087JB,Oost,IJburg West,Amsterdam,North Holland,Netherlands
2194,1017 CC Amsterdam,Herengracht 518,52.3630,4.8924,7750000,1155,4381,6,1906,1,...,"Kerkstraat 245L, 1017 GW Amsterdam, Netherlands",NaN,245L,Kerkstraat,1017GW,Centrum,Centrum,Amsterdam,North Holland,Netherlands