In [2]:
import pandas as pd
import requests

In [3]:
data=pd.read_csv("amsterdam.csv", sep=";")

In [4]:
def location(postalcode, index):
    formattedPostalCode = postalcode[0:4]
    url = "https://app.zipcodebase.com/api/v1/search?apikey={your api key}=" + formattedPostalCode + "&country=NL"
    r = requests.get(url)
    r_json = r.json()
    latitude = r_json['results'][formattedPostalCode][0]['latitude']
    longitude = r_json['results'][formattedPostalCode][0]['longitude']
    return latitude, longitude

In [5]:
for index, row in data.iterrows():
    latitude, longitude = location(row['postalcode'], index)
    data.loc[index, 'lat'] = latitude
    data.loc[index, 'lng'] = longitude
    data.to_csv("amsterdam.csv", sep=";", index=False)

In [6]:
data.head(5)

,postalcode,street,lat,lng,price,area,volume,floors,year_build,has_garden,type,photos,rooms
0,1015 AK Amsterdam,Langestraat 31,52.37840000,4.88360000,895000,164,450,4,1700,0,woonhuis,42,5
1,1018 LZ Amsterdam,Kleine Wittenburgerstraat 124,52.36760000,4.91840000,275000,56,189,1,1981,0,appartement,27,2
2,1073 TB Amsterdam,Karel du Jardinstraat 53 HS+PP,52.35320000,4.89820000,550000,83,328,1,2000,1,appartement,39,3
3,1073 XA Amsterdam,Gerard Doustraat 190 III,52.35320000,4.89820000,375000,69,222,1,1880,0,appartement,18,2
4,1067 MT Amsterdam,Jan van Duivenvoordestraat 137,52.37860000,4.79870000,249000,97,295,1,2002,0,appartement,22,4

In [13]:
data.shape[0]

2692